@{
    ViewData["Title"] = "EmployeeReg";
}
@*@model List<UniDelWebApplication.Models.Customer> PROVIDE THIS CODE TO ACCESS THE MODEL SENT BY FUNCTION return View(uniDelDb.Customers.ToList())*@

<body class="splash">
    <div class="container">
        <form id="loginForm" class="form-card" action="../index.html" method="post">
            <div class="form-group">
                <h1 class="text-center">SIGN UP YOUR EMPLOYEE</h1>
            </div>

            <div class="form-group Info">
                <label for="TypeOfUser">User Type:</label>
                <select class="form-control" id="userType">
                    <option value="CallCentre">Call Centre</option>
                    <option value="FleetManager">Fleet Manager</option>
                    <option value="Driver">Delivery Driver</option>
                </select>
            </div>

            <div class="form-group Info">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" required placeholder="Enter email">
                <small id="emailErrorMsg" class="error-msg text-danger" hidden>Invalid Email Provided, please enter valid email address</small>
            </div>

            @*<div class="form-group Info">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" autocomplete required placeholder="Password">
                <small id="passErrorMsg" class="error-msg text-danger" hidden>Invalid Password. Password must have at least one upper case, at least one lower case, at least one digit and have Minimum of eight characters in length .</small>
            </div>*@

            <div class="form-group Info">
                <label for="tel">Telephone</label>
                <input type="tel" class="form-control" id="email" required placeholder="Telephone number">
                <small id="telErrorMsg" class="error-msg text-danger" hidden>Invalid Email Telephone, please enter valid telephone number</small>
            </div>

            @*<button type="submit" name="submit" id="login" class="btn btn-block btn-warning btn-color" style="margin:auto">Login</button>*@
            @*<br>*@
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-block btn-primary btn-color" style="margin:auto">Register</a>

            <div class="container-fluid text-center">
                @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>*@
                @*<a href="register.html" class="text-warning">Register</a>*@

            </div>
        </form>
    </div>
</body>
