@{
    ViewData["Title"] = "Capture Service";
}

@using UniDelWebApplication.Models
@model Vehicle

<body class="splash">
    <div class="container">
        <form id="service" class="form-card" action="../index.html" method="post">
            <div class="form-group">
                <h1 class="text-center">LOG A SERVICE</h1>
            </div>

            <div class="form-group Info">
                <label for="TypeOfService">Type of Service:</label>
                <select class="form-control" id="serviceType">
                    <option value="Mileage">By Vehicle Mileage</option>
                    <option value="Date">By Service Date</option>
                </select>
            </div>

            <!-- if filter type is mileage display these two boxes, else display date boxes-->

            <div class="form-group Info">
                <label for="currentmileage">Current Vehicle Mileage</label>
                <input type="number" class="form-control" id="newexpirydate" placeholder="Enter the mileage on the day the service was done">
            </div>

            <div class="form-group Info">
                <label for="nextmileage">Next Vehicle Mileage</label>
                <input type="number" class="form-control" id="newexpirydate" placeholder="Enter the mileage on which the next service will be due">
            </div>


            <div class="form-group Info">
                <label for="currentdate">Date service was performed</label>
                <input type="date" class="form-control" id="currentdate" placeholder="Enter the date on which the service was done">
            </div>


            <div class="form-group Info">
                <label for="nextdate">Date of next service</label>
                <input type="date" class="form-control" id="nextservicedate" placeholder="Enter the date on which the next service will be due">
            </div>


            <br>
            <a asp-area="" asp-controller="FleetManagement" asp-action="CaptureService" class="btn btn-block btn-primary btn-color" style="margin:auto">LOG SERVICE</a>

            <div class="container-fluid text-center"></div>
        </form>
    </div>
</body>

