@{
    ViewData["Title"] = "Edit Information";
}


@using UniDelWebApplication.Models
@model Vehicle

<body class="splash">
    <div class="container">
        <form id="EDIT" class="form-card" action="../index.html" method="post">
            <div class="form-group">
                <h1 class="text-center">EDIT VEHICLE INFORMATION</h1>
            </div>

            <div class="form-group Info">
                <label for="vehicleID">Vehicle ID</label>
                <input type="text" class="form-control" id="vehicleID" placeholder=@Html.DisplayFor(m => m.VehicleID)>
            </div>

            <div class="form-group Info">
                <label for="vehicleMake">Make</label>
                <input type="text" class="form-control" id="vehicleMake" placeholder=@Html.DisplayFor(m => m.VehicleMake)>
            </div>

            <div class="form-group Info">
                <label for="vehicleModel">Model</label>
                <input type="text" class="form-control" id="vehicleModel" placeholder=@Html.DisplayFor(m => m.VehicleModel)>
            </div>

            <div class="form-group Info">
                <label for="licenseplate">License Plate</label>
                <input type="text" class="form-control" id="licenseplate" placeholder=@Html.DisplayFor(m => m.VehicleLicensePlate)>
            </div>

            <div class="form-group Info">
                <label for="vin">VIN</label>
                <input type="text" class="form-control" id="vin" placeholder=@Html.DisplayFor(m => m.VehicleVIN)>
            </div>

            <div class="form-group Info">
                <label for="diskexpiry">VIN</label>
                <input type="text" class="form-control" id="diskexpiry" placeholder=@Html.DisplayFor(m => m.VehicleLicenseDiskExpiry)>
            </div>

            <div class="form-group Info">
                <label for="mileage">Current Mileage</label>
                <input type="text" class="form-control" id="mileage" placeholder=@Html.DisplayFor(m => m.VehicleMileage)>
            </div>

            <div class="form-group Info">
                <label for="nextmileage">Next Service Mileage</label>
                <input type="text" class="form-control" id="nextmileage" placeholder=@Html.DisplayFor(m => m.VehicleNextMileageService)>
            </div>

            <div class="form-group Info">
                <label for="lastservicedate">Date of previous service</label>
                <input type="text" class="form-control" id="lastservicedate" placeholder=@Html.DisplayFor(m => m.VehicleLastService)>
            </div>


            <div class="form-group Info">
                <label for="nextservicedate">Date of next service</label>
                <input type="text" class="form-control" id="nextservicedate" placeholder=@Html.DisplayFor(m => m.VehicleNextDateService)>
            </div>


            <br>
            <a asp-area="" asp-controller="FleetManagement" asp-action="Edit" class="btn btn-block btn-primary btn-color" style="margin:auto">Save changes</a>

            <div class="container-fluid text-center"></div>
        </form>
    </div>
</body>

