@{
    ViewData["Title"] = "License Disk Renewal";
}
@*@model List<UniDelWebApplication.Models.Customer> PROVIDE THIS CODE TO ACCESS THE MODEL SENT BY FUNCTION return View(uniDelDb.Customers.ToList())*@

@using UniDelWebApplication.Models
@model Vehicle


<body class="splash">
    <div class="container">
        <form id="licenseRenewal" class="form-card" action="../index.html" method="post">
            <div class="form-group">
                <h1 class="text-center">RENEW LICENSE DISK</h1>
            </div>
            <div class="form-group Info">
                <label for="currentexpirydate">Current License Disk Expiry Date</label>
                <input type="text" class="form-control" id="currentexpirydate" required placeholder=@Html.DisplayFor(m => m.VehicleLicenseDiskExpiry)>
            </div>

            <div class="form-group Info">
                <label for="newexpirydate">New License Disk Expiry Date</label>
                <input type="date" class="form-control" id="newexpirydate" >
            </div>

            <br>
            <a asp-area="" asp-controller="FleetManagement" asp-action="RenewLicenseDisk" class="btn btn-block btn-primary btn-color" style="margin:auto">SUBMIT</a>

            <div class="container-fluid text-center"></div>
        </form>
    </div>
</body>